.global_container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #ff8b8b;
}

a:hover {
  color: #ffe1e1;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  list-style: none;
}
.router-link-active {
  color: #fff !important;
}
.header_bar {
  background: #dedede url("public/themes/default/images/header_background.png") repeat-x;
  color: #1f1f1f;
  height: 100px;
  overflow: hidden;
}

.logo {
  background: url("public/themes/default/images/logo.png") no-repeat;
  width: 99px;
  margin-top: 18.5px;
  height: 63px;
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.sub_header {
  background-color: #b43838;
  color: #f6aaaa;
  height: 45px;
  font-size: 15px;
  overflow: hidden;
}

.sh_menu {
  float: left;
  line-height: 45px;
}

.sh_menu li {
  margin-right: 20px;
}

.user_menu {
  float: right;
  line-height: 100px;
}

.user_menu span {
  font-weight: bold;
  background-color: #1f1f1f;
  color: #eaeaea;
  padding: 10px 20px;
  border-radius: 4px;
}

.search_bar {
  float: right;
  height: 31px;
  width: 25%;
  max-width: 280px;
  padding: 10px 20px 0px;
  border: 2px solid #882626;
  box-shadow: none;
  background-color: #882626;
}

input#search{
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
  margin-top: 2px;
  color: #fff;
  float: left;

}

input#search_submit {
  background: url("public/themes/default/images/search_input.png") no-repeat center;
  height: 45px;
  width: 45px;
  margin-top: -12px;
  margin-right: -15px;
  float: right;
  border: none;
  cursor: pointer;
}

#search::-webkit-input-placeholder {
  color: #de8686;
}

#search::-moz-placeholder {
  color: #de8686;
}

#search::-moz-placeholder {
  color: #de8686;
}

#search:-ms-input-placeholder {
  color: #de8686;
}

.active {
  font-weight: bold;
  color: #fff;
}

.active:hover {
  color: #fff;
}
